<section *ngIf="selectedObject">
  <p>{{selectedObject.name}}</p>


  <section class="components">
    <section *ngFor="let component of selectedObject.behaviours">
      <app-behaviour-view [component]=component></app-behaviour-view>
    </section>
  </section>



  <section *ngIf="selectedObject" class="newComponents">
    <button (click)="ShowComponents()">Add Component</button>

    <select *ngIf="showDropDown" name="Components" (change)="selectComponent($event)">
      <option [ngValue]="null">Select Component</option>
      <option *ngFor="let file of keys" [ngValue]=file> {{file}}</option>
    </select>
  </section>
</section>
