body {
  padding: 0px;
}

* {
  box-sizing: border-box;
}

.ProjectUI {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

canvas {
  width: 100%;
  height: 100%;
}

.GameView {
  width: 50%;
  height: 50vh;
  background-color: black;
}

.Hierarchy {
  width: 15%;
  background-color: #e0afa0;

  overflow-y: scroll;
}

.inspector {
  width: 35%;
  background-color: #e0afa0;
  overflow-y: scroll;
}

.FilesView {
  width: 100%;
  height: 25vh;
  background-color: blanchedalmond;
  border: 2px solid black;
  overflow-y: scroll;
}

.CodeEditor {
  width: 95vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.EngineHeader {
  display: flex;
  justify-content: space-between;
}
