<section>
  <header>
    <p>File Explorer</p>

    <section class="fileCreation">
      <section *ngIf="showForm">
        <input [(ngModel)]=fileName>
        <button class="confirm" (click)="CreateScript()">Confirm</button>
        <button class="cancel" (click)="ToggleForm()">Cancel</button>
      </section>
      <button *ngIf="!showForm" (click)="ToggleForm()">Add Script</button>

    </section>


  </header>
  <main>
    <figure *ngFor="let item of projectModel.project.scripts | keyvalue" (dblclick)="openFile(item.key)"
      (click)="selectKey(item.key)">
      <img src="assets/Images/file.svg">
      <figcaption>{{item.key}}</figcaption>
      <button *ngIf="item.key && item.key ==scriptSlectedKey" (click)="DeleteScript()">Delete</button>
    </figure>
  </main>
</section>
