<section class="ProjectNav">
  <button class="button-small" (click)="ToggleProject()">Add Project</button>
  <section id="add-project-menu" *ngIf="shouldShow">
    <section class="errors">
      <p *ngFor="let error of errors">
        {{error}}
      </p>
    </section>
    <section class="projectInfo">
      <input type="text" placeholder="Project Name" #projectInput>
      <section class="buttons">
        <button class="button confirm" (click)="CreateProject($event)">Create</button>
        <button class="button cancel" (click)="ToggleProject()">Cancel</button>
      </section>
    </section>
  </section>
</section>

<section *ngFor="let project of projects">
  <app-project [projectData]="project" (projectUpdated)="projectUpdate($event)"></app-project>
</section>
