* {
  box-sizing: border-box;
  font-size: 10px;
}

.behaviour-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: blanchedalmond;
  padding: 5px;
  margin: 0 auto;
  margin-bottom: 2px;
}
.behaviour-view > header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.objectFields {
  display: flex;
  flex-direction: column;
}

.objectFields > section {
  display: flex;
  flex-wrap: wrap;
}
.objectFields > section > * {
  width: 50%;
}

label {
  width: 30%;
}
